services:
  log-app:
    build: ../..
    container_name: log-collector-app
    ports:
      - "8081:8081"
    environment:
      # 1. DB 연결 정보 (도커 서비스명 기준)
      SPRING_DATASOURCE_URL: jdbc:mariadb://logcollector-db:3306/logcollector
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      # 2. 프로파일 활성화 (이 설정으로 application-secret.properties를 읽음)
      # SPRING_PROFILES_ACTIVE: secret
      OPENAI_API_KEY: ${OPENAI_API_KEY}
    depends_on:
      logcollector-db:
        condition: service_healthy

  # MariaDB 서비스
  logcollector-db:
    image: mariadb:latest
    container_name: logcollector-mariadb
    environment:
      MARIADB_DATABASE: logcollector
      MARIADB_ROOT_PASSWORD: root
    ports:
      - "3306:3306" # 로컬 DBeaver 접속용
    healthcheck:
      test: [ "CMD-SHELL", "mariadb-admin ping -h 127.0.0.1 -uroot -p$${MARIADB_ROOT_PASSWORD} --silent" ]
      interval: 5s
      timeout: 5s
      retries: 5