version: "3.9"

services:
  app:
    build:
      context: ../..
      dockerfile: infra/compose/Dockerfile
    container_name: logcollector-app
    ports:
      - "8080:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: logcollector-db
      DB_PORT: "3306"
      DB_NAME: logcollector
      DB_USER: root
      DB_PASSWORD: root

      REDIS_HOST: logcollector-redis
      REDIS_PORT: "6379"

    depends_on:
      logcollector-db:
        condition: service_healthy
      logcollector-redis:
        condition: service_started
      # elasticsearch:
      #   condition: service_started

  logcollector-db:
    image: mariadb:latest
    container_name: logcollector-mariadb
    environment:
      MARIADB_DATABASE: logcollector
      MARIADB_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    healthcheck:
      test: [ "CMD-SHELL", "mariadb-admin ping -h 127.0.0.1 -uroot -p$${MARIADB_ROOT_PASSWORD} --silent" ]
      interval: 5s
      timeout: 5s
      retries: 10
    volumes:
      - logcollector-db-data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d:ro

  logcollector-redis:
    image: redis:7-alpine
    container_name: logcollector-redis
    ports:
      - "6379:6379"
    command: [ "redis-server", "--appendonly", "yes" ]
    volumes:
      - logcollector-redis-data:/data

  # elasticsearch:
  #   image: docker.elastic.co/elasticsearch/elasticsearch:8.15.0
  #   container_name: logcollector-es
  #   environment:
  #     - discovery.type=single-node
  #     - xpack.security.enabled=false
  #     - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
  #   ports:
  #     - "9200:9200"
  #   volumes:
  #     - es-data:/usr/share/elasticsearch/data

  prometheus:
    image: prom/prometheus:latest
    container_name: lc-prometheus.yml
    volumes:
      - ../../docs/monitoring/datasource/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  grafana:
    image: grafana/grafana:latest
    container_name: lc-grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
    depends_on:
      - prometheus
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build: ../../frontend
    container_name: logcollector-frontend
    ports:
      - "80:80"
    depends_on:
      - app

volumes:
  logcollector-db-data:
  logcollector-redis-data:
  # es-data:
