apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-web-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-web
  template:
    metadata:
      labels:
        app: log-web
    spec:
      containers:
        - name: log-web
          image: soyunju/logcollector-web:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80

          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"

          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10   # 10초 뒤부터 검사
            periodSeconds: 10         # 10초마다
            timeoutSeconds: 3
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
            periodSeconds: 5
            successThreshold: 1
---
apiVersion: v1
kind: Service
metadata:
  name: log-web-service
spec:
  type: LoadBalancer
  selector:
    app: log-web
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80