apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: logcollector-app
  namespace: monitoring
  labels:
    release: prometheus
spec:
  selector:
    matchLabels:
      app: log-app

  namespaceSelector:
    matchNames:
      - logcollector

  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 15s
